<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Преподаватели-Курсы</display-name>

  <servlet>
    <servlet-name>TeacherListServlet</servlet-name>
    <servlet-class>by.vsu.servlets.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherListServlet</servlet-name>
    <url-pattern>/teachers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditTeacherServlet</servlet-name>
    <servlet-class>by.vsu.servlets.EditTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeacherServlet</servlet-name>
    <url-pattern>/teachers/edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CourseListServlet</servlet-name>
    <servlet-class>by.vsu.servlets.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListServlet</servlet-name>
    <url-pattern>/courses</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditCourseServlet</servlet-name>
    <servlet-class>by.vsu.servlets.EditCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourseServlet</servlet-name>
    <url-pattern>/courses/edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>by.vsu.servlets.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/courses/delete</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>by.vsu.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

</web-app>
