table tr td a {
    display: block;
    text-align: center;
}

.table_sort table {
    border-collapse: collapse;
}

.table_sort th {
    cursor: pointer;
}

.table_sort td,
.table_sort th {
    min-width: 160px;
    max-width: 200px;
    min-height: 40px;
    text-align: center;
    border: 2px solid black;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}